body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f4;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}

#userForm {
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
    backdrop-filter: blur(5px);
    border-radius: 8px;
}

#userForm h2 {
    margin-bottom: 20px;
    text-align: center;
}

#userForm label {
    display: block;
    font-weight: bold;
}

#userForm input {
    font-size: 18px;
    width: 100%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    text-indent: 2px;
    margin-bottom: 5px;
    font-weight: 500;
}

#userForm button {
    background-color: rgb(60, 0, 255);
    color: #fdfdfd77;
    margin-top: 5px;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 5px;
    /* transition: 0.5s; */
    cursor: pointer;
}

.password-container {
    position: relative;
    width: 100%;
}

#password {
    padding-right: 35px;
    /* Increase space for the eye button */
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    /* Adjust the right positioning */
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    /* Darker color for better visibility */
}


.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border: 1px solid black;
    border-radius: 5px;
    width: 380px;
}

.data h2 {
    margin: 10px;
    text-transform: capitalize;
    font-weight: 600;
}

.data ul {
    list-style: none;
    padding: 40px;
}

.data ul li {
    padding: 4px;
    font-weight: 500;
}

#userData {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 620px;
    padding: 10px 30px;
    border-radius: 5px;
}

#userData h2 {
    margin: 15px;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
}

#user-list li {
    list-style: none;
    padding: 10px;
    margin: 5px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}